@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

* body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-image: url("images/bg-intro-mobile.png");
  background-color: #ff7a7a;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

* body #banner {
  color: white;
  width: 21.5rem;
  text-align: center;
  padding: 3rem 2rem 3rem 2rem;
}

* body #banner h1 {
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

* body #banner p {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.7rem;
}

* body #sCard {
  background-color: #6055a5;
  color: white;
  width: 18rem;
  cursor: pointer;
  padding: 1rem 4rem 1rem 4rem;
  border-radius: 10px;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  -webkit-box-shadow: 0px 4px 9px -2px black;
          box-shadow: 0px 4px 9px -2px black;
}

* body #sCard b {
  font-weight: 500;
  font-size: 0.9rem;
}

* body #bCard {
  background-color: white;
  width: 18rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 12px -1px black;
          box-shadow: 0px 4px 12px -1px black;
  /* Internet Explorer 10-11 */
  -ms-input-placeholder-color: #3e3c49;
  -ms-input-placeholder-padding: 1rem;
  -ms-input-placeholder-font-weight: 600;
  -ms-input-placeholder-font-family: "Poppins", sans-serif;
  -ms-input-placeholder-background-image: url("images/icon-error.svg");
  -ms-input-placeholder-background-repeat: no-repeat;
  -ms-input-placeholder-background-position: 95% center;
}

* body #bCard ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3e3c49;
  padding: 1rem;
  font-weight: 600;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  background-image: url("images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  /* Firefox */
}

* body #bCard :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3e3c49;
  padding: 1rem;
  font-weight: 600;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  background-image: url("images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  /* Firefox */
}

* body #bCard ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3e3c49;
  padding: 1rem;
  font-weight: 600;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  background-image: url("images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  /* Firefox */
}

* body #bCard ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3e3c49;
  padding: 1rem;
  font-weight: 600;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  background-image: url("images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  /* Firefox */
}

* body #bCard ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #3e3c49;
  padding: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-image: url("images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
}

* body #bCard .valid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body #bCard .entry {
  width: 100%;
  height: 3rem;
  border: 1px solid #b9b6d3;
  border-radius: 4px;
}

* body #bCard .invalid {
  font-size: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 1rem;
  text-align: right;
  color: #ff7a7a;
}

* body #bCard .button {
  background-color: #38cc8c;
  color: #b9b6d3;
  cursor: pointer;
  text-transform: uppercase;
}

* body #bCard #disclaimer {
  display: block;
}

* body #bCard #disclaimer p {
  font-weight: 400;
  color: #b9b6d3;
}

* body #bCard #disclaimer a {
  font-weight: 500;
  color: #ff7a7a;
  text-decoration: none;
}

* body .attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

* body .attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */