@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')

//colors

//primary
$red: hsl(0, 100%, 74%)
$green: hsl(154, 59%, 51%)
//accent
$blue: hsl(248, 32%, 49%)
//neutral
$d-blue: hsl(249, 10%, 26%)
$g-blue: hsl(246, 25%, 77%)

//font size and weights
$f-size: 16px
$fontA: 400
$fontB: 500
$fontC: 600
$fontD: 700
$f-fam: 'Poppins', sans-serif

*
    box-sizing: border-box
    padding: 0
    margin: 0
    border: 0

    body
        display: grid
        place-items: center
        background-image: url("images/bg-intro-mobile.png")
        background-color: $red
        font-size: $f-size
        font-family: $f-fam

        #banner
            color: white
            width: 21.5rem
            text-align: center
            padding: 3rem 2rem 3rem 2rem
            h1
                font-weight: $fontC
                font-size: 1.5rem
                padding-bottom: 1rem
            p
                font-weight: $fontA
                font-size: 0.9rem
                line-height: 1.7rem

        #sCard
            background-color: $blue
            color: white
            width: 18rem
            cursor: pointer
            padding: 1rem 4rem 1rem 4rem
            border-radius: 10px
            font-weight: $fontA
            font-size: 0.9rem
            text-align: center
            box-shadow: 0px 4px 9px -2px black
            b
                font-weight: $fontB
                font-size: 0.9rem

        #bCard
            background-color: white
            width: 18rem
            margin-top: 2rem
            margin-bottom: 2rem
            padding: 1rem
            border-radius: 10px
            box-shadow: 0px 4px 12px -1px black
            ::placeholder
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $d-blue
                padding: 1rem
                font-weight: $fontC
                opacity: 1
                font-family: $f-fam
                background-image: url("images/icon-error.svg")
                background-repeat: no-repeat
                background-position: 95% center

                /* Firefox */
            :-ms-input-placeholder
                /* Internet Explorer 10-11 */
                color: $d-blue
                padding: 1rem
                font-weight: $fontC
                font-family: $f-fam
                background-image: url("images/icon-error.svg")
                background-repeat: no-repeat
                background-position: 95% center

            ::-ms-input-placeholder
                /* Microsoft Edge */
                color: $d-blue
                padding: 1rem
                font-weight: $fontC
                font-family: $f-fam
                background-image: url("images/icon-error.svg")
                background-repeat: no-repeat
                background-position: 95% center

            .valid
                box-sizing: border-box

            .entry
                width: 100%
                height: 3rem
                border: 1px solid $g-blue
                border-radius: 4px
            .invalid
                font-size: 0.5rem
                padding-top: 0.3rem
                padding-bottom: 1rem
                text-align: right
                color: $red
            .button
                background-color: $green
                color: $g-blue
                cursor: pointer
                text-transform: uppercase
            #disclaimer
                display: block
                p
                    font-weight: $fontA
                    color: $g-blue
                a
                    font-weight: $fontB
                    color: $red
                    text-decoration: none

        .attribution
            font-size: 11px
            text-align: center
            color: white

            a
                color: hsl(228, 45%, 44%)
