@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')

//colors

//primary
$red: hsl(0, 100%, 74%)
$green: hsl(154, 59%, 51%)
//accent
$blue: hsl(248, 32%, 49%)
//neutral
$d-blue: hsl(249, 10%, 26%)
$g-blue: hsl(246, 25%, 77%)

//font size and weights
$f-size: 16px
$fontA: 400
$fontB: 500
$fontC: 600
$fontD: 700
$f-fam: 'Poppins', sans-serif

*
    box-sizing: border-box
    padding: 0
    margin: 0
    border: 0

    body
        display: grid
        place-items: center
        background-image: url("images/bg-intro-mobile.png")
        background-color: $red
        font-size: $f-size
        font-family: $f-fam

        #banner
            color: white
            width: 23.5rem
            text-align: center
            padding: 6rem 1.5rem 3rem 1.5rem
            h1
                font-weight: $fontC
                font-size: 1.7rem
                padding-bottom: 1rem
            p
                font-weight: $fontA
                font-size: 1rem
                line-height: 1.7rem

        #sCard
            background-color: $blue
            color: white
            width: 20.5rem
            cursor: pointer
            padding: 1rem 4rem 1rem 4rem
            border-radius: 10px
            font-weight: $fontA
            font-size: 0.9rem
            text-align: center
            box-shadow: 0px 6px 0px 0px #00000047
            b
                font-weight: $fontB
                font-size: 0.9rem

        #bCard
            background-color: white
            width: 20.5rem
            margin-top: 2rem
            margin-bottom: 2rem
            padding: 2rem 1.5rem 1rem 1.5rem
            border-radius: 10px
            box-shadow: 0px 6px 0px 0px #00000047
            

    
            .form-item
                box-sizing: border-box
                background-image: none
                background-repeat: no-repeat
                background-position: 95% center
                padding: 0.8rem
                color: $d-blue
                font-weight: $fontC
                opacity: 1
                font-family: $f-fam
                

            .form-btn-style
                width: 100%
                height: 3rem
                border: 1px solid $g-blue
                border-radius: 4px
                

            .invalid
                font-size: 0.5rem
                padding-top: 0.3rem
                padding-bottom: 1rem
                text-align: right
                color: white
                
            .button
                background-color: $green
                color: rgb(210, 255, 242)
                cursor: pointer
                text-transform: uppercase
                padding: 0.3rem

                &:hover
                    background-color: #38cc8ca6

                &:active
                    color: #38cc8ca6
                    background-color: rgb(210, 255, 242)

            #disclaimer
                display: block
                padding: 0.5rem 1.8rem 0rem 1.8rem
                font-size: 0.65rem
                line-height: 1.2rem
                text-align: center
                p
                    font-weight: $fontA
                    color: $g-blue
                a
                    font-weight: $fontB
                    color: $red
                    text-decoration: none

        .attribution
            font-size: 11px
            text-align: center
            color: white
            padding: 0.5rem

            a
                color: hsl(228, 45%, 44%)
